# Copia este archivo a .env y ajusta si es necesario
# En docker-compose estas variables ya se inyectan automáticamente,
# este archivo sirve como referencia y para correr el backend fuera de Docker.

DB_HOST=mariadb
DB_PORT=3306
DB_NAME=dispositivos_medicos
DB_USER=root
DB_PASSWORD=root123

PORT=4000

AUTH_JWKS_URL=http://localhost:4001/auth/jwks
JWT_ISS=auth-service
JWT_AUD=ce5508-taller2
JWKS_CACHE_TTL_MS=300000
JWKS_CACHE_MAX_ENTRIES=5
JWKS_REQUESTS_PER_MINUTE=10
